
.progress-bar {
    background: linear-gradient(118.61deg, #637280 3.6%, #708E8E 86.69%);
    border-radius: 5px;
}

.progress {
    border-radius: 5px;
}


.temp-ins-sum {
    transition: all 0.3s ease-in-out;
}


.temp-ins-sum:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.see-all:hover {
    text-decoration: underline;
    cursor: pointer;
}


.overlay-div div.row {
    margin-top: 120px;
}

.overlay-div {
    left: 0;
    border-radius: 5px;
}


.recent-vendor h5 {
    transition: all 0.3s ease-in-out;
}

.recent-vendor:hover h5 {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}




.see-all:hover {
    text-decoration: underline;
    cursor: pointer;
}





.panel-content {
    height: 355px !important;
    padding-right: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 5px;
    
}

::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.15);
    border: 0;
    
}

hr {
    margin-left: -40px;
    margin-right: -40px;
}



