
<div class="row container-row mx-0 mt-4 text-center d-none d-lg-block" *ngIf="userIsLoggedIn">

    <ng-container *ngIf="userIsLoggedIn">

        <!-- <div routerLink="bookmark" class="col-12 px-0 py-4 navLink"> -->
        <div class="col-12 px-0 py-4 navLink">
            <hr>
            <i class="machine-mist fa fa-fort-bookmark fa-lg" title="Bookmarks"></i>
        </div>

        <!-- <div routerLink="library" class="col-12 px-0 py-4 navLink"> -->
        <div class="col-12 px-0 py-4 navLink">
            <hr>
            <i class="fa fa-fort-book outline fa-lg" title="Library"></i>
        </div>

        <!-- <div routerLink="message" class="col-12 px-0 py-4 navLink"> -->
        <div class="col-12 px-0 py-4 navLink">
            <hr>
            <i class="machine-mist fa fa-fort-comment fa-lg" title="Messages"></i>
        </div>

        <!-- <div routerLink="analytics" class="col-12 px-0 py-4 navLink"> -->
        <div class="col-12 px-0 py-4 navLink">
            <hr>
            <i class="machine-mist fa fa-fort-chart-bar fa-lg" title="Analytics"></i>
        </div>

        <!-- <div routerLink="notes" class="col-12 px-0 py-4 navLink"> -->
        <div class="col-12 px-0 py-4 navLink">
            <hr>
            <i class="machine-mist fa fa-fort-sticky-note fa-lg" title="Notes"></i>
        </div>




    </ng-container>



</div>