        

<!-- 1 SmallText, 3 Date, 4 Number, 8 Currency -->
<ng-container *ngIf="question.answerType !== 2 && question.answerType !== 6 && question.answerType !== 7">
    <div class="col-12 px-0 mr-0">
        <div class="row my-3 justify-content-start align-items-center">

            <span  class="text-capitalize small-heading calibri text-right col-3 mr-3">{{question.name}}</span>

            <input [disabled]="readOnly || formCompleted" *ngIf="question.answerType !== 3 && question.answerType !== 8" class="question-input col-7 py-3" [(ngModel)]="value" (change)="onChange()" >
            <input [disabled]="readOnly || formCompleted" *ngIf="question.answerType === 3" type="date"  [ngClass]="{'help-icon-showing': question.description, '': !question.description}"  class="question-input col-7 py-3" [(ngModel)]="value" (change)="onChange()">
            <div *ngIf="question.answerType === 8" class=" col-7 px-0">
                <span class="input-dollar-sign">$</span>
                <input [disabled]="readOnly || formCompleted" class="question-input col-12 p-3 pl-4" [(ngModel)]="value" (change)="onChange()">
            </div>

            <div>
                <a data-toggle="collapse" href="#question_{{question.id}}" class="icon">
                    <i *ngIf="question.description" class="fa fa-fort-question-circle fa-lg" ></i>
                </a>
            </div>

        </div>

        <!-- Help Icon Text -->
        <ng-container *ngTemplateOutlet="questionTooltipText; context: question"></ng-container>

    </div>
</ng-container>



<!-- 2 LargeText -->
<ng-container *ngIf="question.answerType === 2">
    <div class="col-12 h-auto">
        <div class="row my-3 justify-content-start align-items-top">
            
            <span  class="text-capitalize small-heading calibri text-left col-4 col-xl-3 mr-3">{{question.name}}</span>
            <textarea [disabled]="readOnly || formCompleted" class="question-input-4 col-12 " [(ngModel)]="value" (change)="onChange()"></textarea>

            <div>
                <a data-toggle="collapse" href="#question_{{question.id}}" class="icon" >
                <i *ngIf="question.description" class="fa fa-fort-question-circle fa-lg" ></i>
                </a>
            </div>

        </div>
        
        <!-- Help Icon Text -->
        <ng-container *ngTemplateOutlet="questionTooltipText; context: question"></ng-container>

    </div>
</ng-container>



<!-- 6 VendorSelect -->
<ng-container *ngIf="question.answerType === 6">






    
    <!-- <ng-container *ngFor="let vendorAnswer of vendorAnswers">
        <div class="col-12 card mb-2">
            <div class="row card-body justify-content-between">



                <ng-container *ngIf="vendorAnswer.answerValue">
                    <div class="col-12">
                        <div class="row justify-content-between">
                            <span class="small-heading mb-2">{{vendorAnswer.answerValue.name}}</span>
                            <span><i (click)="removeVendor(vendorAnswer)" class="fa fa-fort-trash fa-lg"></i></span>
                        </div>

                        <div class="form-group">
                            <span for="pocSelect" class="size-16">Point of Contact: </span>
                            <select  class="form-control" id="pocSelect">
                                <option selected>None</option>
                                <ng-container *ngFor="let vendorContact of vendorAnswer.answerValue.vendorContacts">
                                    <option>{{vendorContact.name}}</option>
                                </ng-container>
                            </select>
                        </div>

                        <div class="form-group">
                            <span for="partSelect" class="size-16">Part Number: </span>
                            <select  class="form-control" id="partSelect">
                                <option [selected]="true">None</option>
                                <ng-container *ngFor="let vendorPart of vendorAnswer.answerValue.vendorParts">
                                    <option>{{vendorPart.partNumber}}</option>
                                </ng-container>
                            </select>
                        </div>

                        <div class="mb-2">
                            <span>Capability: </span>
                            <div class="ml-2">
                                <span>{{vendorAnswer.answerValue.capability}}</span>
                            </div>
                            
                        </div>

                        <div>
                            <span>Past Performance: </span>
                            <div class="ml-2">
                                <span>{{vendorAnswer.answerValue.pastPerformance}}</span>
                            </div>
                            
                        </div>
                        
                    </div>
                    
                </ng-container>
                


                <ng-container *ngIf="!vendorAnswer.answerValue">
                    <div class="col-12">

                        <div class="row justify-content-between">
                            <div class="col-md col-10 px-0">

                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <span><i class="fa fa-fort-search fa-md" title="Search"></i></span>
                                        <input [(ngModel)]="searchText" placeholder="search" class="search-filter ml-1 pl-2" />
                                    </div>

                                    <button (click)="searchForVendors()" class="col-5 col-xl-2 small-heading btn btn-sm secondary d-none d-md-inline-block">Search</button>
                                    <button (click)="searchForVendors()" class="col-6 col-xl-2 small-heading btn btn-sm secondary d-inline-block d-md-none mt-3">Search</button>

                                </div>
                                
                            </div>

                            <span><i (click)="removeVendor(vendorAnswer)" class="fa fa-fort-trash fa-lg"></i></span>
                        </div>

                            
                        
                        <ng-container *ngIf="vendorsFound === true">
                            <ng-container *ngFor="let vendorResult of vendorResults">
                                <div class="my-2">
                                    <button (click)="selectVendor(vendorResult, vendorAnswer)" class="col-5 col-lg-4 col-xl-1 small-heading btn btn-sm secondary">Select</button>
                                    <span class="ml-2">{{vendorResult.name}}</span>
                                </div>
                                
                            </ng-container>
                        </ng-container>

                        <ng-container *ngIf="vendorsFound === false">
                            <div class="my-2">
                                <span>No Vendors Found</span>
                            </div>
                        </ng-container>

                        

                    </div>
                    
                </ng-container>



            </div>   
            
        </div>
    </ng-container> -->
    <!-- <button (click)="addVendor()" [disabled]="addingVendor || formCompleted" class="col-5 col-lg-4 col-xl-3 small-heading btn btn-lg secondary py-3">Add Vendor</button> -->
    
</ng-container>



<!-- 5 Single Select, 7 MultipleSelect -->
<ng-container *ngIf="question.answerType === 7 || question.answerType === 5">
    <div class="row">

    <div class="col-12">
        <span *ngIf="question.maxLength === 0">Select all answers that apply</span>
        <span *ngIf="question.maxLength !== 0">You have have selected {{selections.length}} answers out of {{question.maxLength}}</span>
    </div>

    
    <ng-container *ngFor="let checkbox of question.questionAnswers">
        
        <div class="col-12 col-xl-6 px-0 mr-0">
            <div class="row my-3 justify-content-start align-items-center">

                <label class="checkbox-label">

                    <input  
                        [disabled]="readOnly  || formCompleted || isCheckboxDisabled(checkbox.id)" 
                        type="checkbox" 
                        class="question-input col-1 py-3" 
                        [checked]="selections.includes(checkbox.id.toString())"
                        (click)="checkboxClick(checkbox.id)"
                    >
                    
                    <span class="checkbox-custom rectangular"></span>

                </label>



                <div class="col-10">
                    <div class="row">
                        <span class="text-capitalize small-heading calibri text-left col-auto">{{checkbox.name}}</span>

                        <div class="col-auto">
                            <a data-toggle="collapse" href="#questionAnswers_{{checkbox.id}}" class="icon">
                                <i *ngIf="checkbox.description" class="fa fa-fort-question-circle fa-lg" ></i>
                            </a>
                        </div>


                    </div>
                    

                </div>
                



            </div>
            

            

            <!-- Help Icon Text -->
            <div class="col-12 px-0">
                <div class="row">
                    
                    <div class="col-2 ml-3"></div>

                    <div id="questionAnswers_{{checkbox.id}}" class="collapse col-auto card">
                        <div [innerHTML]="checkbox.description" class="p-2 calibri"></div>
                    </div>
                </div>
            </div>

        </div>

    </ng-container>
    </div>
    
</ng-container>


<ng-template  #questionTooltipText let-id="id" let-desc="description" let-type="answerType" let-name="name">

    <!-- Help Icon Text -->
    <div class="col-12">
        <div class="row">

            <div *ngIf="name" class="col-3 mr-3"></div>

            <div *ngIf="type !== 2" class="col-7 px-0">
                <div class="row">
                    <div id="question_{{id}}" class="collapse col-auto card">
                        <div [innerHTML]="desc" class="p-2 calibri"></div>
                    </div>
                </div>
            </div>

            <div *ngIf="type === 2" class="col-12 px-0">
                <div class="row">
                    <div id="question_{{id}}" class="collapse col-auto card">
                        <div [innerHTML]="desc" class="p-2 calibri"></div>
                    </div>
                </div>
            </div>
            

        </div>
    </div>

</ng-template>

