<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_URI}" pattern="^/api" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/swagger" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern=".*\.js$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern=".*\.css$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern=".*\.png$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern=".*\.jpg$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern=".*\.map$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern=".*\.woff.*" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern=".*\.woff2.*" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern=".*\.ttf.*" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>