
<div class="row mb-4 justify-content-between">
    <div class="col-8 px-0">
        <h5 class="large-heading">Dashboard</h5>
        <h6 class="small-heading sub-heading">Quick Access To Your Market Research and Recent Activities</h6>
    </div>
</div>

<div class="row justify-content-between">
    <app-inprogress-research class="col-12 col-lg-6 mb-5 px-0 pr-lg-3 pl-lg-0"></app-inprogress-research>
    <app-notifications       class="col-12 col-lg-6 mb-5 px-0 pl-lg-3 pr-lg-0"></app-notifications> 
</div>

<div class="row justify-content-between">
    <app-recent-vendors class="col-12 col-lg-6 mb-5 px-0 pr-lg-3 pl-lg-0"></app-recent-vendors>
    <app-recent-parts   class="col-12 col-lg-6 mb-5 px-0 pl-lg-3 pr-lg-0"></app-recent-parts>
</div>

<div class="row justify-content-between">
    <app-recent-strategies class="col-12 col-lg-6 mb-5 px-0 pr-lg-3 pl-lg-0"></app-recent-strategies>
    <app-recent-resources  class="col-12 col-lg-6 mb-5 px-0 pl-lg-3 pr-lg-0"></app-recent-resources>
</div>
