
<div *ngIf="isLoading" class="m-5">
    <i class="fa fa-fort-cog fa-spin icon "></i>&nbsp; Loading...
</div>
        
<ng-container *ngIf="!isLoading">

    <div class="row justify-content-center">
        <div class="col-12">

            <div class="row mb-4 justify-content-between">
                <div class="col-6 px-0">
                    <h5 class="large-heading">{{getTemplateInstance().name}}</h5>
                    <h6 class="small-heading sub-heading">Completed on {{ getTemplateInstance().completedOn | date:'M/d/yyyy' }}</h6>
                </div>

                <div class="col-4 px-0">
                    <div class="row justify-content-end">

                        <button  
                        routerLink="../"
                        class="col-auto small-heading btn btn-lg clear py-3 ml-2"
                        > View Form </button>
                        
                            <button (click)="downloadPDF()" class="col-auto small-heading btn btn-lg clear py-3 ml-2"> 
                                Export PDF
                            </button>

                        <button  
                        (click)="reOpen()"
                        [disabled]="reOpening || !userIsCreator"
                        class="col-auto small-heading btn btn-lg secondary py-3 ml-2"
                        > Re-Open </button>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-between">

        <div class="col-12 col-lg-6 px-0 mb-5">
            <app-summary-info></app-summary-info>
        </div>
    
        <div class="col-12 col-lg-6 px-0">
            <app-research-team></app-research-team>
        </div>

        <!-- Selected Vendors -->
        <div class="col-12 px-0 my-5">
         
            <span class="large-heading">Selected Vendors</span> <i *ngIf="selectedVendorsLoading" class="fa fa-fort-cog fa-spin" ></i>
            <hr [ngClass]="{ 'mb-1': selectedVendors.length > 0, 'mb-4': selectedVendors.length < 1 }">

            <!-- Selected Vendors Column Headers -->
            <span *ngIf="selectedVendors.length < 1" style="font-size: 20px">No vendors were selected on the form.</span>

            <div *ngIf="selectedVendors.length > 0">
                <div class="row mb-2">
                    <div class="col-12">
                        <div class="row mt-4">
                            <div class="col-12 ">
                                <div class="row align-items-center text-center justify-content-around">
                                    <span class="col-4 column-header">NAME</span>
                                    <span class="col-3 column-header">CAGE/DUNS</span>
                                    <span class="col-3 column-header">POINT OF CONTACT</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Display of Selected Vendors -->
                <div class="row">
                    <div class="col-12">
                        <div *ngFor="let vendor of selectedVendors"> 
                            <div class="row card shadow mb-3 py-2 vendor" (click)="navVendDetail(vendor)">
                                <div class="card-body col-12">
                                    <div class="row align-items-center text-center justify-content-around">
                                        <span class="col-4">{{ vendor.name }}</span>
                                        <span class="col-3">{{ vendor.cageDuns }}</span>
                                        <span class="col-3">{{ vendor.pointOfContact }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        
        <!-- Suggested Vendors -->
        <!-- <div class="col-12 px-0 mt-5">
         
            <span class="large-heading">Suggested Vendors</span>
            <hr [ngClass]="{'mb-1': selectedVendors.length > 0, 'mb-4': selectedVendors.length < 1}"> -->
            

            <!-- Suggested Vendors Column Headers -->
            <!-- <span *ngIf="vendorCount < 1" style="font-size: 20px">No vendors were suggested.</span>

            <div *ngIf="vendorCount > 0" class="row mb-2">
                <div class="col-12">
                    <div class="row mt-4">
                        <div class="col-12 ">
                            <div class="row align-items-center text-center justify-content-around">
                                <span class="col-4 column-header">NAME</span>
                                <span class="col-3 column-header">PART NUMBER</span>
                                <span class="col-3 column-header">CAGE CODE</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            
            <!-- Display of Suggested Vendors -->
            <!-- <div *ngIf="vendorCount > 0" class="row">
                <div class="col-12">
                    <div *ngFor="let award of awards"> 
                        <div 
                        style="flex-direction: row !important;" 
                        
                        class="row mx-0 card p-4 mb-3 vendor justify-content-between text-center align-items-center">
            
                        <span class="col-3 px-0">{{award.vendor.name}}</span>
                        <span class="col-2 px-0">{{award.partNumber}}</span>
                        <span class="col-2 px-0">{{award.vendor.cageCode}}</span>
                        <span class="col-2 px-0">{{award.vendor.dunsId}}</span> 
                        
                        </div> 
                    </div>
                </div>
            </div> -->



        <div class="col-12 px-0 mt-5">
            <span class="large-heading">Suggested Vendors</span>
            <hr [ngClass]="{'mb-1': currentPageResults.length > 0, 'mb-4': currentPageResults.length < 1}"> 

            
            <div class="row justify-content-end mt-5">
                <div class="col-12 px-0 text-right">
        
                    <ng-container *ngIf="pageNumberArray.length > 1">
                        <i (click)="firstPage()" class="fa fa-fort-angles-right fa-flip-horizontal fa-2x left-page-arrow"></i>
                        <i (click)="previousPage()" class="fa fa-fort-angle-right fa-flip-horizontal left-page-arrow mx-3"></i>
                    </ng-container>
                    
                    <ng-container *ngFor="let pageNumber of pageNumberArray">
                        <span (click)="jumpToPage(pageNumber + 1)" [ngClass]="{'current-page-number': pageNumber + 1 === currentPage, 'other-page-number': pageNumber + 1 !== currentPage}" class="mx-2 size-24">{{pageNumber + 1}}</span>
                    </ng-container>
        
            
                    <ng-container *ngIf="pageNumberArray.length > 1">
                        <i (click)="nextPage()" class="fa fa-fort-angle-right mx-3 right-page-arrow"></i>
                        <i (click)="lastPage()" class="fa fa-fort-angles-right right-page-arrow"></i>
                    </ng-container>
        
            
                </div>
            </div>



            

            <div *ngIf="allSearchResults.length > 0" class="row p-4 justify-content-between text-center">
    
                <span class="col-3 small-heading">Name</span>
    
                <span class="col-2 small-heading">Location</span>
            
                <span class="col-2 small-heading">Cage Code</span>
    
                <span class="col-2 small-heading">Duns ID</span>
    
            </div>
    
    
    
            <ng-container *ngFor="let result of currentPageResults">  

                <!-- Vendor that has an Id -->
                <ng-container *ngIf="result.researchVendorId || result.sustainmentVendorId">
                    
                    <div 
                        style="flex-direction: row !important;" 
                        (click)="navVendDetail(result)"
                        class="row mx-0 card p-4 mb-3 vendor justify-content-between text-center align-items-center">
    
    
                        <span *ngIf="!result.name" class="col-3 px-0">N/A</span>
                        <span class="col-3 px-0">{{result.name}}</span>
    
                        <span *ngIf="!result.city" class="col-2 px-0">N/A</span>
                        <span *ngIf="result.city" class="col-2 px-0">{{result.city}}, {{result.stateAbbreviation}} {{result.postalCode}}</span>
                    
    
                        <span *ngIf="result.cageCode.length < 2" class="col-2 px-0">N/A</span>
                        <span *ngIf="result.cageCode.length > 2" class="col-2 px-0">{{result.cageCode}}</span>
    
    
                        <span *ngIf="!result.dunsId" class="col-2 px-0">N/A</span>
                        <span class="col-2 px-0">{{result.dunsId}}</span>
    
    
                    </div>
    
                </ng-container>


                <!-- Vendor that doesn't have an id -->
                <ng-container *ngIf="!result.researchVendorId && !result.sustainmentVendorId">

                    <div 
                        style="flex-direction: row !important;" 
                        class="row mx-0 card p-4 mb-3 justify-content-between text-center align-items-center">
    
    
                        <span *ngIf="!result.name" class="col-3 px-0">N/A</span>
                        <span class="col-3 px-0">{{result.name}}</span>
    
                        <span *ngIf="!result.city" class="col-2 px-0">N/A</span>
                        <span *ngIf="result.city" class="col-2 px-0">{{result.city}}, {{result.stateAbbreviation}} {{result.postalCode}}</span>
                    
    
                        <span *ngIf="result.cageCode.length < 2" class="col-2 px-0">N/A</span>
                        <span *ngIf="result.cageCode.length > 2" class="col-2 px-0">{{result.cageCode}}</span>
    
    
                        <span *ngIf="!result.dunsId" class="col-2 px-0">N/A</span>
                        <span class="col-2 px-0">{{result.dunsId}}</span>
    
    
                    </div>
    
                </ng-container>
    

            </ng-container>
        </div>
        
       
    </div>

</ng-container>
